<div class="w-100 h-100">
    <div class="d-flex justify-content-center align-items-center">
        <div class="card w-25">
            <div class="card-body">
                <h5 class="card-title mb-3">Inicio de sesión</h5>
                <form #loginForm="ngForm" (ngSubmit)="login()">
                    <div class="mb-3">
                        <input type="email" name="email" placeholder="Correo electrónico" class="form-control" #email="ngModel" [(ngModel)]="user.email" [ngClass]="{'is-invalid': email.touched && email.invalid}" required>
                    </div>
                    <div class="mb-3">
                        <input type="password" name="password" placeholder="Contraseña" class="form-control" #password="ngModel" [(ngModel)]="user.password" [ngClass]="{'is-invalid': password.touched && password.invalid}" required>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary w-100">Iniciar sesión</button>
                    </div>
                    <p>¿Aún no tienes una cuenta? <a [routerLink]="['/SignUp']">Regístrate ahora</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
