<div class="container d-flex justify-content-center py-4">
    <div *ngIf="user_view; then account_view else loading_view"></div>

    <ng-template #loading_view>
        <div class="spinner-grow mt-5" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Cargando, por favor espera...</span>
        </div>
    </ng-template>

    <ng-template #account_view>
        <div class="card w-50 my-0 mx-auto">
            <div class="card-body">

                <h5 class="card-title">Información de la cuenta</h5>
                <p class="card-subtitle text-secondary mb-4" *ngIf="user_view_id == current_session">Aquí puedes visualizar y actualizar la información de tu cuenta.</p>   
                
                <hr class="border">

                <form #updateUserPictureForm="ngForm" (ngSubmit)="updateUserPicture(updateUserPictureForm)">
                    <div class="d-flex align-items-end gap-3">
                        <div *ngIf="user_view.user_picture; then image_uploaded else empty_image"></div>

                        <ng-template #image_uploaded>
                            <div>
                                <p>Foto de perfil</p>
                                <div class="user-picture-account-page-class border position-relative" [ngStyle]="{'background-image': 'url(' + user_view.user_picture + ')'}">
                                    <button type="button" class="btn btn-secondary position-absolute m-1" (click)="deleteUserPicture()" style="right: 0;" title="Eliminar foto de perfil" *ngIf="user_view_id == current_session"><i class="bi bi-x-lg"></i></button>
                                </div>
                            </div>
                        </ng-template>

                        <ng-template #empty_image>
                            <div>
                                <p>Foto de perfil</p>
                                <div class="user-picture-account-page-class border position-relative" [ngStyle]="{'background-image': 'url(../../../../assets/img/avatar.jpg)'}">
                                    <button type="button" class="btn btn-secondary position-absolute m-1" (click)="deleteUserPicture()" style="right: 0;" title="Eliminar foto de perfil" *ngIf="user_view_id == current_session"><i class="bi bi-x-lg"></i></button>
                                </div>                            
                            </div>
                        </ng-template>
                        
                        <div *ngIf="user_view_id == current_session">
                            <label for="user_picture" class="form-label">Sube tu foto de perfil</label>
                            <input 
                            type="file" 
                            name="user_picture" 
                            placeholder="Foto de perfil" 
                            class="form-control mb-2" 
                            (change)="selectedUserPicture($event)" 
                            accept=".jpg,.png,.jpeg" 
                            [required]="true">
                            <button type="submit" class="btn btn-outline-secondary">Guardar foto</button>
                        </div>

                        <div *ngIf="user_view_id != current_session" class="d-flex align-items-center gap-2">
                            <app-friend-request-button [user_view_id]="user_view_id"></app-friend-request-button>
                            <button class="btn btn-primary d-flex align-items-center justify-content-center gap-2">Enviar mensaje<i class="bi bi-chat-text"></i></button>
                        </div>
                    </div>
                </form>

                <hr class="border">
                
                <form #updateAccountForm="ngForm" (ngSubmit)="updateAccount(updateAccountForm)">
                    <div class="row">
                        <div class="col-6 mb-3">
                            <label for="name" class="form-label">Nombre(s)</label>
                            <input 
                            type="text" 
                            name="name" 
                            placeholder="Nombre(s)" 
                            class="form-control" 
                            #name="ngModel"
                            [(ngModel)]="user_view.name"
                            [maxlength]="30"
                            [ngClass]="{'is-invalid': (user_view.name.touched || user_view.name.dirty) && user_view.name.invalid}" 
                            [readOnly]="user_view_id != current_session"
                            [disabled]="user_view_id != current_session"
                            [required]="true">
                            <div *ngIf="(user_view.name.touched || user_view.name.dirty) && user_view.name.invalid" class="text-danger">
                                Formato de nombre inválido. Este campo solo acepta letras.
                            </div>                         
                        </div>

                        <div class="col-6 mb-3">
                            <label for="last_name" class="form-label">Apellido(s)</label>
                            <input type="text"
                            name="last_name"
                            placeholder="Apellido(s)"
                            class="form-control"
                            #last_name="ngModel"
                            [(ngModel)]="user_view.last_name"
                            [maxlength]="30"
                            [ngClass]="{'is-invalid': (user_view.last_name.touched || user_view.last_name.dirty) && user_view.last_name.invalid}" 
                            [readOnly]="user_view_id != current_session"
                            [disabled]="user_view_id != current_session"
                            [required]="true">
                            <div *ngIf="(user_view.last_name.touched || user_view.last_name.dirty) && user_view.last_name.invalid" class="text-danger">
                                Formato de apellidos inválido. Este campo solo acepta letras.
                            </div>     
                        </div>         

                        <div class="col-6 mb-3">
                            <label for="birth_date" class="form-label">Fecha de nacimiento</label>
                            <input type="date" 
                            name="birth_date" 
                            placeholder="Fecha de nacimiento" 
                            class="form-control" 
                            #birth_date="ngModel"
                            [(ngModel)]="user_view.birth_date"
                            [ngClass]="{'is-invalid': (user_view.birth_date.touched || user_view.birth_date.dirty) && user_view.birth_date.invalid}" 
                            [readOnly]="user_view_id != current_session"
                            [disabled]="user_view_id != current_session"
                            required>
                        </div>

                        <div class="col-6 mb-3">
                            <label for="gender" class="form-label">Género</label>
                            <select 
                            name="gender"
                            class="form-control"  
                            #gender="ngModel"
                            [(ngModel)]="user_view.gender"
                            [ngClass]="{'is-invalid': (user_view.gender.touched || user_view.gender.dirty) && user_view.gender.invalid}" 
                            [disabled]="user_view_id != current_session"
                            [required]="true">
                                <option value="">--Selecciona un género</option>
                                <option value="Hombre">Hombre</option>
                                <option value="Mujer">Mujer</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="username" class="form-label">Nombre de usuario</label>
                            <input type="text" 
                            name="username" 
                            placeholder="Nombre de usuario" 
                            class="form-control" 
                            #username="ngModel"
                            [(ngModel)]="user_view.username"
                            [maxlength]="20"
                            [ngClass]="{'is-invalid': (user_view.username.touched || user_view.username.dirty) && user_view.username.invalid}" 
                            [readOnly]="user_view_id != current_session"
                            [disabled]="user_view_id != current_session"
                            [required]="true">
                            <div *ngIf="(user_view.username.touched || user_view.username.dirty) && user_view.username.invalid" class="text-danger">
                                Formato de nombre de usuario inválido. Este campo solo acepta letras y números.
                            </div>     
                        </div>

                        <div class="mb-4">
                            <label for="email" class="form-label">Correo electrónico</label>
                            <input 
                            type="email" 
                            name="email" 
                            placeholder="Correo electrónico" 
                            class="form-control" 
                            #email="ngModel"
                            [(ngModel)]="user_view.email"
                            [maxlength]="60"
                            [ngClass]="{'is-invalid': (user_view.email.touched || user_view.email.dirty) && user_view.email.invalid}" 
                            [readOnly]="user_view_id != current_session"
                            [disabled]="user_view_id != current_session"
                            [required]="true">
                        </div>

                        <div class="col-12" *ngIf="user_view_id == current_session">
                            <button 
                            type="submit" 
                            class="btn btn-primary w-100"
                            [disabled]="updateAccountForm.invalid">
                                Guardar datos
                            </button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </ng-template>

</div>
   