<nav class="navbar navbar-expand-lg bg-light border-bottom p-0">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 w-100 d-flex align-items-center">
                <li class="w-100 h-100 py-2 pe-2">
                    <form class="d-flex h-100" role="search">
                        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                        <button class="btn btn-outline-dark" type="submit">Buscar</button>
                    </form>
                </li>
                <div class="vr"></div>
                <li class="nav-item dropdown ms-auto py-2 ps-2">
                    <a class="nav-link dropdown-toggle text-dark d-flex justify-content-center align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" *ngIf="user_logged">
                        <img src="{{ user_logged.user_picture }}" class="rounded-circle me-1" width="30px" height="30px" alt="user picture">
                        {{ user_logged.username }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" [routerLink]="['/Home/Account']">Mi cuenta</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item text-danger" (click)="logOut()">Cerrar sesión</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
  </nav>