.main-container-class {
    display: flex;
    .side-menu-class {
        width: 5vw;
        height: 100vh;
    }
    .page-container-class {
        width: 95vw;
        .page-content-class {
            height: 91.4%;
        }
    }
}