<div 
*ngIf="
    friend_request_exists; 
then exists
else dontExists"></div>

<ng-template #exists>
    <div
    *ngIf="
        current_session == friend_request_object?.user_id_receiver;
    then receiver
    else noReceiver"></div>

    <ng-template #receiver>
        <div 
        *ngIf="
            friend_request_object?.friend_request_status == 'Pending';
        then pending
        else noPending"></div>

        <ng-template #pending>
            <div class="btn-group dropup w-100">
                <button type="button" class="btn btn-primary dropdown-toggle d-flex align-items-center justify-content-center gap-2" data-bs-toggle="dropdown" aria-expanded="false">
                    Responder
                    <i class="bi bi-person-fill"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" (click)="acceptFriendRequest()">Aceptar</a></li>
                    <li><a class="dropdown-item" href="#">Rechazar</a></li>
                </ul>
            </div>
        </ng-template>

        <ng-template #noPending>
            <div *ngIf="
                friend_request_object?.friend_request_status == 'Accepted';
            then accepted
            else rejected"></div>

            <ng-template #accepted>
                <p class="text-muted me-2" *ngIf="friendship_date">Amigos desde: <br> {{ friendship_date.toDate().toLocaleDateString('es-ES', { month: 'long', year: 'numeric', day: 'numeric' }) }}</p>
            </ng-template>

            <ng-template #rejected>
                <p>solicitud rechazada</p>
            </ng-template>

        </ng-template>
    </ng-template>

    <ng-template #noReceiver>
        <div 
        *ngIf="
            friend_request_object?.friend_request_status == 'Pending';
        then pending else noPending"></div>
    
        <ng-template #pending>
            <button class="btn btn-secondary disabled d-flex align-items-center justify-content-center gap-2" type="button" title="Solicitud pendiente">Solicitud enviada<i class="bi bi-person-exclamation"></i></button>
        </ng-template>
    
        <ng-template #noPending>
            <div 
            *ngIf="friend_request_exists &&
                friend_request_object?.friend_request_status == 'Accepted';
            then accepted else rejected"></div>
    
            <ng-template #accepted>
                <p class="text-muted me-2" *ngIf="friendship_date">Amigos desde: <br> {{ friendship_date.toDate().toLocaleDateString('es-ES', { month: 'long', year: 'numeric', day: 'numeric' }) }}</p>
            </ng-template>
    
            <ng-template #rejected>
                <p>solicitud rechazada</p>
            </ng-template>

        </ng-template>
    
    </ng-template>

</ng-template>

<ng-template #dontExists>
    <button (click)="sendFriendRequest(current_session, user_view_id)" type="button" class="btn btn-primary d-flex align-items-center justify-content-center gap-2">Enviar solicitud<i class="bi bi-person-add"></i></button>
</ng-template>


